/* ********************* Page Wrapper */
#oa_loudvoice {
	width: 860px;
	max-width: 100%;
}

/* ********************* Messages */
#oa_loudvoice .error_message {
	color: red;
	background: url("../img/status_error.png") no-repeat scroll 0 50% #ddd;
	padding-left: 25px;
	font-weight: bold;
}

#oa_loudvoice .error_message,#oa_loudvoice .error_message a {
	color: red;
	font-weight: bold;
}

#oa_loudvoice .working_message {
	color: blue;
	background: url("../img/status_loading.gif") no-repeat scroll 0 50% #ddd;
	padding-left: 25px;
	font-weight: bold;
}

#oa_loudvoice .error_message a:hover {
	color: #C70000;
}

#oa_loudvoice .success_message {
	color: green;
	background: url("../img/status_ok.png") no-repeat scroll 0 50% #ddd;
	padding-left: 25px;
	font-weight: bold;
}

/* ********************* Boxes */
.oa_loudvoice_box {
	border: 1px solid #CCCCCC;
	margin: 25px 0;
}

.oa_loudvoice_box .oa_loudvoice_box_content {
	padding: 10px 15px;
}

.oa_loudvoice_box .oa_loudvoice_box_title {
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	font-weight: bold;
	margin: 0 10px;
	padding: 7px 0;
}

#oa_loudvoice_box_status {
	background-color: #E1EDFF;
}

#oa_loudvoice_box_notice {
	background-color: #C4F095;
}

#oa_loudvoice_box_help {
	background-color: #FFFFE0;
	border-color: #E6DB55;
	margin-bottom: 35px;
}

#oa_loudvoice_box_help ul {
	padding-left: 20px;
	list-style-type: disc;
}

#oa_loudvoice_box_help .oa_loudvoice_box_title {
	border-color: #E6DB55;
}

#oa_loudvoice_box_help a {
	color: #111;
}

#oa_loudvoice_box_help a:hover {
	color: #d54e21;
}

#oa_loudvoice_box_updated {
	background-color: green;
	color: #fff;
	font-weight: bold;
}

#oa_loudvoice_box_export {
	background-color: #E1EDFF;
}

#oa_loudvoice_box_import {
	background-color: #fcecad;
}

#oa_loudvoice_box_export .oa_loudvoice_box_footer,#oa_loudvoice_box_import .oa_loudvoice_box_footer {
	background-color: #ddd;
	padding: 10px;
}

.oa_loudvoice_box_footer textarea {
	border: 1px solid #ccc;
	margin-top: 10px;
	width: 100%;
	min-height: 200px;
	display: none;
}

/* ********************* Tables */
.oa_loudvoice_table {
	background-color: #efefef;
	border: 1px solid #ccc;
	margin: 0 0 25px;
}

.oa_loudvoice_table textarea,.oa_loudvoice_table input {
	border-color: #aaa;
}

.oa_loudvoice_table tr.row_head th {
	font-size: 13px;
	font-weight: bold;
	background-color: #3E687B;
	color: #fff;
	text-shadow: 0 1px 0 #333;
	padding: 15px 10px;
}

.oa_loudvoice_table tr.row_head th a {
	color: #F1EE10;
}

.oa_loudvoice_table tr.row_head th a:hover {
	color: #fff;
	text-decoration: none;
}

.oa_loudvoice_table tr.row_odd,.oa_loudvoice_table tr.row_odd td {
	color: #222;
	background-color: #ddd;
	border-bottom: 1px dotted #BBBBBB;
}

.oa_loudvoice_table tr.row_even,.oa_loudvoice_table tr.row_even td {
	color: #333;
	background-color: #fff;
	border-bottom: 1px dotted #bbb;
}

.oa_loudvoice_table tr td.row_multi {
	border-right: 1px dotted #BBBBBB;
}

.oa_loudvoice_table tr.row_foot td {
	background-color: #ddd;
}

/* ********************* Providers */
.oa_loudvoice_table tr.row_provider td {
	line-height: 35px;
}

.oa_loudvoice_table tr.row_provider td.cell_provider_icon {
	width: 50px;
	text-align: center !important;
}

.oa_loudvoice_table tr.row_provider td.cell_provider_label {
	text-align: left !important;
}

.oa_loudvoice_provider {
	background-image: url("../img/beveled_w35_h35_c_v1.png");
	text-indent: -9999px;
	height: 35px;
	width: 35px;
	display: inline-block;
}

.oa_loudvoice_provider_vimeo {
	background-position: -2px -1px;
}

.oa_loudvoice_provider_blogger {
	background-position: -39px -1px;
}

.oa_loudvoice_provider_facebook {
	background-position: -76px -1px;
}

.oa_loudvoice_provider_foursquare {
	background-position: -113px -1px;
}

.oa_loudvoice_provider_google {
	background-position: -150px -1px;
}

.oa_loudvoice_provider_reddit {
	background-position: -187px -1px;
}

.oa_loudvoice_provider_linkedin {
	background-position: -224px -1px;
}

.oa_loudvoice_provider_windowslive {
	background-position: -261px -1px;
}

.oa_loudvoice_provider_livejournal {
	background-position: -298px -1px;
}

.oa_loudvoice_provider_myspace {
	background-position: -372px -1px;
}

.oa_loudvoice_provider_openid {
	background-position: -409px -1px;
}

.oa_loudvoice_provider_twitter {
	background-position: -520px -1px;
}

.oa_loudvoice_provider_vkontakte {
	background-position: -631px -1px;
}

.oa_loudvoice_provider_wordpress {
	background-position: -668px -1px;
}

.oa_loudvoice_provider_yahoo {
	background-position: -705px -1px;
}

.oa_loudvoice_provider_paypal {
	background-position: -742px -1px;
}

.oa_loudvoice_provider_stackexchange {
	background-position: -779px -1px;
}

.oa_loudvoice_provider_steam {
	background-position: -816px -1px;
}

.oa_loudvoice_provider_mailru {
	background-position: -853px -1px;
}

.oa_loudvoice_provider_skyrock {
	background-position: -890px -1px;
}

.oa_loudvoice_provider_github {
	background-position: -927px -1px;
}

.oa_loudvoice_provider_disqus {
	background-position: -964px -1px;
}

.oa_loudvoice_provider_youtube {
	background-position: -1001px -1px;
}

.oa_loudvoice_provider_odnoklassniki {
	background-position: -1038px -1px;
}

.oa_loudvoice_provider_deviantart {
	background-position: -1075px -1px;
}

.oa_loudvoice_provider_twitch {
	background-position: -1112px -1px;
}

.oa_loudvoice_provider_amazon {
	background-position: -1149px -1px;
}

.oa_loudvoice_provider_instagram {
	background-position: -1186px -1px;
}

.oa_loudvoice_provider_battlenet {
	background-position: -1223px -1px;
}

.oa_loudvoice_provider_dribbble {
	background-position: -1260px -1px;
}

.oa_loudvoice_provider_pinterest {
	background-position: -1297px -1px;
}

.oa_loudvoice_provider_pixelpin {
	background-position: -1334px -1px;
}